SPRING_DATASOURCE_URL=jdbc:mysql://localhost:3306/movilidadmdq
DB_USER=root

# Contrasena de la base de datos
DB_PASSWORD=tuContraseña

# Google Maps
google.maps.api.key=

# OpenWeather
openweather.api.key=

