SPRING_DATASOURCE_URL=jdbc:mysql://localhost:3306/movilidadmdq
DB_USER=root

# Contrasena de la base de datos
DB_PASSWORD=your_password

# Google Maps
GOOGLE_MAPS_KEY=

# OpenWeather
WEATHER_API_KEY=
